/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #444;
     font: 300 112.5%/1.5em Lato, sans-serif;
     padding:3.75em 3em;
     border-left: #ddd solid 0.333em;
}
a {
     text-decoration: none;
     color: inherit;
}
/******************************************
/* LAYOUT                   
/*******************************************/
h1 {
     font-size: 3em;
     line-height: 1em;
     color: #f30000;
}
header h2 {
     font-size: 1.5em;
     line-height: 1em;
     margin: 0.667em 0;
}
nav a {
     font-size: 1.25em;
     line-height: 1em;
     color: #ccc;
     padding-bottom: 0.125em;
     margin-right: 0.75em;
     border-bottom: #eee solid 2px;
}
h3 {
     font-size: 2em;
     line-height: 1em;
     color: #ccc;
     margin-top: 2em;
}
h2 {
     font-size: 2em;
     line-height: 1em;
     margin: 0.5em 0;
}
img {
     width: 100%;
}
p {
     margin-top: 0.5em;
}
.dropcap {
     font: 300 6em/0.833em Lato;
     color: #ddd;
     float: left;
     padding-right: 0.1em;
     margin-left: -0.1em;
}
h4 {
     font: 700 1em/1em Lato;
     color: #f30000;
     margin-top: 1em;
     text-align: right;
}